# Backend configuration
MODEL_PATH=./backend/app/model/weights.h5
DATA_DIR=C:\Users\Dell\OneDrive\Desktop\ai-crop-doctor\backend\data\archive\plantvillage dataset\color

# Weather API key
WEATHER_API_KEY=YOUR_OPENWEATHERMAP_API_KEY

# Server ports (optional)
FRONTEND_PORT=5173
BACKEND_PORT=8000

